streamlit==1.46.0
pandas==2.3.0
numpy==1.26.4
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.0.1+cpu
scikit-learn==1.5.1
transformers==4.30.0
google-cloud-aiplatform==1.10.0
google-cloud-logging==2.10.0
